<nb-card accent="danger">
  <nb-card-body>
    <div id="card-despesa-titulo" class="flex justify-content-between align-items-center mb-2">
      <span class="text-lg font-bold">Despesa</span>
      <i class="text-3xl pi text-red-500 pi-arrow-circle-down"></i>
    </div>

    <div id="card-despesa-saldo" class="flex justify-content-between align-items-center mt-3 text-xl text-left">
      <span>R$ </span>
      <app-inibe-valores [valor]="'8.000,00'"></app-inibe-valores>
    </div>
  </nb-card-body>
</nb-card>





