<span class="created-by">
  Desenvolvido por <b><a href="https://diegocordeiro.com.br" target="_blank">diegocordeiro.com.br</a></b> 2024
</span>
<div class="socials">
  <a href="#" target="_blank"><nb-icon icon="facebook" [options]="{ animation: { type: 'zoom' } }" ></nb-icon></a>
  <a href="#" target="_blank"><nb-icon icon="twitter" [options]="{ animation: { type: 'zoom' } }"></nb-icon></a>
  <a href="#" target="_blank"><nb-icon icon="github" [options]="{ animation: { type: 'zoom' } }"></nb-icon></a>
  <a href="#" target="_blank"><nb-icon icon="linkedin" [options]="{ animation: { type: 'zoom' } }"></nb-icon></a>
</div>
