<nb-card accent="success">
  <nb-card-body>
    <div id="card-receita-titulo" class="flex justify-content-between align-items-center mb-2">
      <span class="text-xl font-bold">Receita</span>
      <i class="text-3xl pi text-green-500 pi-arrow-circle-up"></i>
    </div>

    <div id="card-receita-saldo" class="flex justify-content-between align-items-center mt-3 text-xl text-left">
      <span>R$ </span>
      <app-inibe-valores [valor]="'15.000,00'"></app-inibe-valores>
    </div>
  </nb-card-body>
</nb-card>
