<nb-layout>
  <nb-layout-header>
    <app-header></app-header>
  </nb-layout-header>

  <nb-sidebar start>
    <app-menu></app-menu>
  </nb-sidebar>

  <nb-layout-column class="p-3">
    <div id="breadcrumb" class="pb-3">
      <p-breadcrumb [model]="breadcrumbItens"></p-breadcrumb>
    </div>

    <div id="conteudo">
      <div class="flex flex-wrap gap-3">

      <div class="flex flex-column p-0 flex-1 min-w-15rem">
        <app-total-receitas-competencia></app-total-receitas-competencia>
      </div>

        <div class="flex flex-column p-0 flex-1 min-w-15rem">
        <app-total-despesas-competencia></app-total-despesas-competencia>
      </div>

        <div class="flex flex-column p-0 flex-1 min-w-15rem">
          <app-total-saldo-mensal-competencia></app-total-saldo-mensal-competencia>
        </div>

        <div class="flex flex-column p-0 flex-1 min-w-15rem">
          <app-total-saldo-geral-competencia></app-total-saldo-geral-competencia>
        </div>
      </div>
    </div>
  </nb-layout-column>

  <nb-layout-footer>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>

