<div class="card">
  <p-table [value]="usuarioList" responsiveLayout="scroll" [paginator]="true" [rows]="5" [responsive]="true">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
        <th pSortableColumn="email">Login <p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="login">E-Mail <p-sortIcon field="login"></p-sortIcon></th>
        <th style="width:4em"><p-tableHeaderCheckbox /></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
      <tr>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.login }}</td>
        <td>{{ usuario.email }}</td>
        <td>
          <p-tableCheckbox [value]="usuario"/>
        </td>
      </tr>
    </ng-template>

    <p-button id="excluir"
              label="{{ 'label.excluir' | translate }}"
              pTooltip="{{ 'label.excluirVarios' | translate }} {{ 'label.registroFinanceiro.lbRegistrosFinanceiros' | translate }}"
              tooltipPosition="bottom"
              icon="pi pi-trash"
              size="small"
              severity="danger"
              [raised]="true"
              [disabled]="!usuarioList || !usuarioList.length"
              (click)="getUsuariosSelecionados()">
    </p-button>
  </p-table>
</div>
