<nb-card accent="warning">
  <nb-card-body>
    <div id="card-saldo-mensal-titulo" class="flex justify-content-between align-items-center mb-2">
      <span class="text-lg font-bold">Saldo Mensal</span>
      <i class="text-3xl pi pi-calendar text-yellow-500"></i>
    </div>

    <div id="card-saldo-mensal-saldo" class="flex justify-content-between align-items-center mt-3 text-xl text-left">
      <span>R$ </span>
      <app-inibe-valores [valor]="saldo"></app-inibe-valores>
    </div>
  </nb-card-body>
</nb-card>
