<nb-layout>
  <nb-layout-header>
    <app-header></app-header>
  </nb-layout-header>

  <nb-sidebar start>
    <app-menu></app-menu>
  </nb-sidebar>

  <nb-layout-column class="p-2">
    <div id="breadcrumb" class="pb-2">
      <p-breadcrumb [model]="breadcrumbItens"></p-breadcrumb>
    </div>

    <div id="conteudo">
      <nb-card>
        <nb-card-body>
          <div id="acoes" class="pt-2 ">
            <p-toolbar styleClass="h-5rem">
              <ng-template pTemplate="left">
                <p-button id="cadastrar"
                    class="mr-4"
                    label="{{ 'label.cadastrar' | translate }}"
                    pTooltip="{{ 'label.cadastrar' | translate }} {{ 'label.despesa.lbDespesa' | translate }}"
                    tooltipPosition="bottom"
                    icon="pi pi-plus"
                    size="small"
                    severity="info"
                    [raised]="true"
                    (click)="abrirModalDespesa(null)">
                </p-button>

                <p-button id="excluir"
                  label=""
                  pTooltip="Excluir"
                  tooltipPosition="bottom"
                  icon="pi pi-trash"
                  size="small"
                  severity="danger"
                  [raised]="true"
                  [disabled]="!despesasSelecionadasList || !despesasSelecionadasList.length"
                  (click)="excluirSelecionados()">
                </p-button>

               <!--<p-button id="compartilharVarios"
                          class="ml-3"
                          label=""
                          pTooltip="Compartilhar"
                          tooltipPosition="bottom"
                          icon="fa fa-share-alt"
                          size="small"
                          severity="success"
                          [raised]="true"
                          [disabled]="!despesasSelecionadasList || !despesasSelecionadasList.length"
                          (click)="compartilharSelecionados()">
                </p-button>-->

                <p-button id="pagarVarios"
                          class="ml-3"
                          label=""
                          pTooltip="Efetuar pagamento"
                          tooltipPosition="bottom"
                          icon="fa fa-paypal"
                          size="small"
                          severity="help"
                          [raised]="true"
                          [disabled]="!despesasSelecionadasList || !despesasSelecionadasList.length"
                          (click)="pagarSelecionados()">
                </p-button>


              </ng-template>

              <ng-template pTemplate="right">
                <span class="ml-3">
                  <p-tag icon="pi pi-check" class="tag-custom" [value]="calcularTotalPago()" severity="success" [style]="{ width: '150px', height: '40px'}" pTooltip="Desp. Paga" tooltipPosition="top"></p-tag>
                </span>

                <span class="ml-3">
                  <p-tag icon="pi pi-exclamation-triangle" class="tag-custom" [value]="calcularTotalAPagar()" severity="danger" [style]="{ width: '150px', height: '40px'}" pTooltip="Desp. a Pagar" tooltipPosition="top"></p-tag>
                </span>

                <span class="ml-3">
                  <p-tag icon="fa fa-share-alt" class="tag-custom" [value]="calcularTotalCompartilhado()" severity="info" [style]="{ width: '150px', height: '40px'}" pTooltip="Desp. Compartilhada" tooltipPosition="top"></p-tag>
                </span>
              </ng-template>
            </p-toolbar>
          </div>

          <div id="container" class="mt-3">
            <!-- Checkbox para exibir outras competências -->
            <div class="field col-12">
              <p-checkbox
                id="exibirOutrasCompetencias"
                [binary]="true"
                [(ngModel)]="exibirOutrasCompetencias"
                (onChange)="setExibirOutrasCompetencias()"
                label="Exibir outras competências.">
              </p-checkbox>
            </div>

            <!-- Dropdown para selecionar a competência -->
            <div class="field col-12" *ngIf="exibirOutrasCompetencias">
              <p-dropdown
                id="competenciaPesquisa"
                [options]="competenciasList"
                [(ngModel)]="competenciaSelecionadaParaPesquisa"
                [filter]="true"
                [showClear]="true"
                filterBy="value"
                optionLabel="value"
                placeholder="Selecione a Competência"
                class="w-full"
                (onChange)="onCompetenciaChange()">  <!-- Chama a função quando o usuário altera a seleção -->

                <ng-template pTemplate="selectedItem">
                  <div class="flex align-items-center gap-2" *ngIf="competenciaSelecionadaParaPesquisa">
                    <div>{{ competenciaSelecionadaParaPesquisa.value }}</div>
                  </div>
                </ng-template>
                <ng-template let-competencia pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ competencia.value }}</div>
                  </div>
                </ng-template>

              </p-dropdown>
            </div>

            <div id="tabela">
            <p-table
              [value]="despesasList"
              [paginator]="true"
              [rows]="100"
              [tableStyle]="{ 'min-width': '75rem' }"
              [(selection)]="despesasSelecionadasList"
              [rowHover]="true"
              [showCurrentPageReport]="true"
              [sortField]="'instituicaoFinanceira.descricao'"
              [sortOrder]="1"
              [globalFilterFields]="['nome', 'dtVencimento', 'categoriaRegistroFinanceiro', 'valor', 'statusPagamento']"
              [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
              [loading]="loading"
              #dt
              dataKey="id"
              currentPageReportTemplate="{{ 'label.exibindoRegistrosTabela' | translate }}"
            >

              <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between h-2rem">
                  <h5 class="m-0">Gerenciar Despesas</h5>
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="aplicarFiltroPadraoInputText($event)" placeholder="{{ 'label.pesquisar' | translate }}" />
                  </span>
                </div>
              </ng-template>

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th style="width: 3rem"> <p-tableHeaderCheckbox /></th>
                  <th pSortableColumn="nome" class="text-left">Nome  <p-sortIcon field="nome"></p-sortIcon></th>
                  <th pSortableColumn="dtLancamento" class="text-center">Lançamento <p-sortIcon field="dtVencimento"></p-sortIcon></th>
                  <th pSortableColumn="dtVencimento" class="text-center">Vencimento <p-sortIcon field="dtVencimento"></p-sortIcon></th>
                  <th pSortableColumn="nrParcela" class="text-center">Parcela <p-sortIcon field="qtdParcela"></p-sortIcon></th>
                  <th pSortableColumn="instituicaoFinanceira" class="text-left">Instituicão <p-sortIcon field="instituicaoFinanceira"></p-sortIcon></th>
                  <th pSortableColumn="categoriaRegistroFinanceiro" class="text-left">Categoria <p-sortIcon field="categoriaRegistroFinanceiro"></p-sortIcon></th>
                  <th pSortableColumn="valor" class="text-right">Valor <p-sortIcon field="valor"></p-sortIcon></th>
                  <th pSortableColumn="statusPagamento" class="text-center">Pago?<p-sortIcon field="statusPagamento"></p-sortIcon></th>
                  <th class="text-center"  style="width:10%">Ações</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-registro let-columns="columns">
                <tr>
                  <td><p-tableCheckbox [value]="registro" /></td>

                  <td class="text-left">{{registro.nome }} </td>

                  <td class="text-left">{{registro.dtLancamento | date:'dd/MM/yyyy' }}</td>

                  <td class="text-center">
                    <span *ngIf="registro.dtVencimento; else hifenSpan">
                      <span *ngIf="retornaSeverityDtVencimento(registro.dtVencimento, registro.statusPagamento) !== null; else dataVencimentoSemTag">
                        <p-tag severity="{{ retornaSeverityDtVencimento(registro.dtVencimento, registro.statusPagamento) }}" value="{{registro.dtVencimento | date:'dd/MM/yyyy' }}" />
                      </span>
                    </span>
                  </td>

                  <td class="text-center"><span *ngIf="registro.existeParcela; else hifenSpan">{{registro.nrParcela + "/" + registro.qtdParcela}}</span></td>

                  <td class="text-left">
                    {{ registro.instituicaoFinanceira }}
                  </td>

                  <td class="text-left">
                    {{ EnumService.getLabelEnum(registro.categoriaRegistroFinanceiro, EnumService.getCategoriaRegistroFinanceiro()) }}
                  </td>

                  <td class="text-right">{{ retornaColunaValor(registro) | currency }}</td>

                  <td class="text-center">
                    <p-tag
                      [value]="EnumService.getLabelEnum(registro.statusPagamento,EnumService.getStatusPagamento())"
                      [severity]="EnumService.getSeveridadeEnum(registro.statusPagamento, EnumService.getStatusPagamento())"
                    ></p-tag>
                  </td>

                  <td class="text-right">

                    <span *ngIf="registro.existeParcela; else imprimirNadaSpan" pTooltip="Esta é uma despesa parcelada" tooltipPosition="left">
                       <i class="fa fa-credit-card-alt mr-3" aria-hidden="true" (click)="abrirModalParcelas(registro);"></i>
                    </span>

                    <span *ngIf="registro.existeDivisao; else imprimirNadaSpan" pTooltip="Esta é uma despesa compartilhada" tooltipPosition="left">
                       <i class="fa fa-share-alt mr-3" aria-hidden="true" (click)="abrirModalParcelas(registro);"></i>
                    </span>

                    <span id="botaoEditar" pTooltip="{{ 'label.editar' | translate }}" tooltipPosition="left" placeholder="right">
                      <i class="pi pi-pencil mr-3" style="font-size: 1rem; color:green" (click)="abrirModalDespesa(registro);"></i>
                    </span>

                    <span id="botaoExcluir" pTooltip="{{ 'label.excluir' | translate }}" tooltipPosition="right" placeholder="Right">
                      <i class="pi pi-trash"  style="font-size: 1rem; color:red" (click)="excluir(registro);"></i>
                    </span>
                  </td>

                  <ng-template #imprimirNadaSpan><span></span></ng-template>
                  <ng-template #hifenSpan><span>-</span></ng-template>
                  <ng-template #dataVencimentoSemTag><span>{{registro.dtVencimento | date:'dd/MM/yyyy' }}</span></ng-template>
                </tr>
              </ng-template>

              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="7" class="text-right"><strong>Total Geral:</strong></td>
                  <td class="text-right">
                    {{ calcularTotalGeral() | currency }}
                  </td>
                  <td colspan="2"></td> <!-- Colunas restantes -->
                </tr>
              </ng-template>
            </p-table>
            </div>

            <p-dialog [(visible)]="exibirDialogCadastroDespesa" header="{{prefixoModal}}" [modal]="true" [style]="{width: '50%'}" styleClass="p-fluid" >

              <ng-template pTemplate="content">

                <div class="grid">

                  <div class="field col-12">
                    <label for="competencia" class="font-semibold">Competência</label>
                    <p-dropdown
                      id="competencia"
                      [options]="competenciasList"
                      [(ngModel)]="competenciaSelecionada"
                      [filter]="true"
                      [showClear]="true"
                      filterBy="value"
                      optionLabel="value"
                      placeholder="Selecione a Competência"
                      class="w-full"
                      [disabled]="despesaTemp.id != null && despesaTemp.existeParcela == true"
                    >

                      <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="competenciaSelecionada">
                          <div>{{ competenciaSelecionada.key }}</div>
                        </div>
                      </ng-template>

                      <ng-template let-competencia pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ competencia.value }}</div>
                        </div>
                      </ng-template>

                    </p-dropdown>

                    <small class="p-error" *ngIf="isSubmetido && !competenciaSelecionada">{{ 'message.campoObrigatorio' | translate }}</small>
                  </div>

                  <div class="field col-12">
                    <label for="nome" class="font-semibold">Nome</label>

                    <input id="nome"
                           class="w-full"
                           type="text"
                           pInputText [(ngModel)]="despesaTemp.nome"
                           [disabled]="despesaTemp.id != null && despesaTemp.existeParcela == true">

                    <small class="p-error" *ngIf="isSubmetido && !despesaTemp.nome">
                      {{ 'message.campoObrigatorio' | translate }}
                    </small>
                  </div>

                  <div class="field col-12">
                    <label for="descricao" class="font-semibold">Descrição</label>

                    <input id="descricao"
                           class="w-full"
                           type="text"
                           pInputText
                           [(ngModel)]="despesaTemp.descricao"
                           [disabled]="despesaTemp.id != null && despesaTemp.existeParcela == true">

                    <small class="p-error" *ngIf="isSubmetido && !despesaTemp.descricao">
                      {{ 'message.campoObrigatorio' | translate }}
                    </small>
                  </div>

                  <div class="field col-12">
                    <label for="categoria" class="font-semibold">Categoria</label>
                    <p-dropdown
                      id="categoria"
                      [options]="categoriaRegistroFinanceiroList"
                      [(ngModel)]="categoriaRegistroFinanceiroSelecionado"
                      [filter]="true"
                      [showClear]="true"
                      filterBy="value"
                      optionLabel="value"
                      placeholder="Selecione a Categoria"
                      class="w-full"
                      [disabled]="despesaTemp.id != null && despesaTemp.existeParcela == true">

                      <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="categoriaRegistroFinanceiroSelecionado">
                          <i class="fa {{ categoriaRegistroFinanceiroSelecionado.icon }}"></i>
                          <div>{{ categoriaRegistroFinanceiroSelecionado.value }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-categoriaRegistroFinanceiroSelecionado pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <i class="fa {{ categoriaRegistroFinanceiroSelecionado.icon }}"></i>
                          <div>{{ categoriaRegistroFinanceiroSelecionado.value }}</div>
                        </div>
                      </ng-template>

                    </p-dropdown>
                    <small class="p-error" *ngIf="isSubmetido && !categoriaRegistroFinanceiroSelecionado">{{ 'message.campoObrigatorio' | translate }}</small>
                  </div>

                  <div class="field col-12">
                    <label for="instituicaoFinanceiraUsuario" class="font-semibold">Instituição Financeira</label>
                    <p-listbox
                      id="instituicaoFinanceiraUsuario"
                      optionLabel="instituicaoFinanceira.nome"
                      optionDisabled="disabled"
                      [options]="instituicoesFinanceirasUsuarioList"
                      [(ngModel)]="instituicaoFinanceiraUsuarioSelecionada"
                      [disabled]="despesaTemp.id != null && despesaTemp.existeParcela == true">
                      <ng-template let-instituicao pTemplate="instituicaoFinanceiraUsuario">
                        <div class="" *ngIf="instituicao.instituicaoFinanceira.tipoInstituicao == 'BANCO'">
                          <i class="fa fa-university mr-2" aria-hidden="true"></i>
                          {{ instituicao.instituicaoFinanceira.nome }}
                        </div>

                        <div class="" *ngIf="instituicao.instituicaoFinanceira.tipoInstituicao == 'CORRETORA'">
                          <i class="fa fa-btc mr-3" aria-hidden="true"></i>
                          {{ instituicao.instituicaoFinanceira.nome }}
                        </div>


                      </ng-template>
                    </p-listbox>
                    <small class="p-error" *ngIf="isSubmetido && !instituicaoFinanceiraUsuarioSelecionada">{{ 'message.campoObrigatorio' | translate }}</small>
                  </div>

                  <div class="field col-12">
                    <label class="font-semibold">Deseja parcelar esta despesa?</label>
                    <div class="formgroup-inline">
                      <div *ngFor="let ep of existePrestacaoList" class="field-radiobutton">
                        <p-radioButton [inputId]="ep.key" name="status" [value]="ep" [(ngModel)]="existePrestacaoSelecionada" (onClick)="atualizarExistePrestacaoSelecionada(existePrestacaoSelecionada)" [disabled]="despesaTemp.id != null && despesaTemp.existeParcela == true"></p-radioButton>
                        <label [for]="ep.key" class="ml-2">{{ ep.value }}</label>
                      </div>
                    </div>
                  </div>

                  <div class="field col-12" *ngIf="exibirValorParcelado">
                    <label for="valorParcelado" class="font-semibold">Valor a parcelar</label>
                    <p-inputNumber
                      id="valorParcelado"
                      class="w-full"
                      mode="currency"
                      currency="BRL"
                      locale="pt-BR"
                      [(ngModel)]="despesaTemp.valorParcelado"
                      [disabled]="despesaTemp.id != null && despesaTemp.existeParcela == true">
                    </p-inputNumber>

                    <small class="p-error" *ngIf="isSubmetido && !despesaTemp.valorParcelado">
                      {{ 'message.campoObrigatorio' | translate }}
                    </small>

                    <small class="p-error" *ngIf="isSubmetido && despesaTemp.valorParcelado && despesaTemp.valorParcelado <= 0">
                      {{ 'message.campoDeveSerMaiorQueZero' | translate }}
                    </small>
                  </div>

                  <div class="field col-12" *ngIf="exibirQtdParcela">
                    <label for="qtdParcela" class="font-semibold">Parcelas</label>
                    <p-dropdown
                      id="qtdParcela"
                      class="w-full"
                      [options]="parcelasList"
                      [(ngModel)]="parcelaSelecionada"
                      [showClear]="true"
                      appendTo="body"
                      panelStyleClass="dropdown-up"
                      optionLabel="key"
                      [disabled]="despesaTemp.id != null && despesaTemp.existeParcela == true"
                      (ngModelChange)="calcularParcelas()"></p-dropdown>

                    <small class="p-error" *ngIf="isSubmetido && existePrestacaoSelecionada.key !== 'SIM' && !parcelaSelecionada">
                      {{ 'message.campoObrigatorio' | translate }}
                    </small>
                  </div>

                  <div class="field col-12">
                    <label for="dtLancamento" class="font-semibold">Data Lançamento</label>
                    <p-calendar
                      id="dtLancamento"
                      [(ngModel)]="despesaTemp.dtLancamento"
                      [showIcon]="true"
                      (onInput)="validarData($event)"
                      [showButtonBar]="true"
                      [readonlyInput]="true"
                      dateFormat="dd/mm/yy"
                      placeholder="dia/mês/ano"
                      appendTo="body"
                      panelStyleClass="dropdown-up"
                      class="w-full"
                      (ngModelChange)="calcularParcelas()"></p-calendar>

                    <small class="p-error" *ngIf="isSubmetido && !despesaTemp.dtLancamento">
                      {{ 'message.campoObrigatorio' | translate }}
                    </small>
                  </div>

                  <div class="field col-12">
                    <label for="dtVencimento" class="font-semibold">Data Vencimento</label>
                    <p-calendar
                      id="dtVencimento"
                      [(ngModel)]="despesaTemp.dtVencimento"
                      [showIcon]="true"
                      (onInput)="validarData($event)"
                      [showButtonBar]="true"
                      [readonlyInput]="true"
                      dateFormat="dd/mm/yy"
                      placeholder="dia/mês/ano"
                      appendTo="body"
                      panelStyleClass="dropdown-up"
                      class="w-full"
                      (ngModelChange)="calcularParcelas()">
                    </p-calendar>

                    <!--<small class="p-error" *ngIf="isSubmetido && !despesaTemp.dtVencimento">
                      {{ 'message.campoObrigatorio' | translate }}
                    </small> -->
                  </div>

                  <div class="field col-12">
                    <label for="valor" class="font-semibold">Valor Total Despesa</label>
                    <p-inputNumber
                      id="valor"
                      class="w-full"
                      mode="currency"
                      currency="BRL"
                      locale="pt-BR"
                      [(ngModel)]="despesaTemp.valor"
                      [disabled]="despesaTemp.id != null && despesaTemp.existeParcela == true"
                    >
                    </p-inputNumber>

                    <small class="p-error" *ngIf="isSubmetido && !despesaTemp.valor">
                      {{ 'message.campoObrigatorio' | translate }}
                    </small>

                    <small class="p-error" *ngIf="isSubmetido && despesaTemp.valor && despesaTemp.valor <= 0">
                      {{ 'message.campoDeveSerMaiorQueZero' | translate }}
                    </small>
                  </div>

                  <div class="flex flex-row flex-wrap">
                      <div class="flex align-items-center justify-content-center m-2">
                        <p-checkbox
                          id="isDividirDespesaId"
                          value="true"
                          label="Desejo dividir esta despesa."
                          [binary]="true"
                          [(ngModel)]="isDividirDespesa"
                          (click)="exibirModalUsuarios()"
                          [disabled]="despesaTemp.id != null && despesaTemp.existeParcela == true"
                        ></p-checkbox>
                      </div>

                      <div *ngIf="usuarioSelecionadoList.length > 0 || this.isDividirDespesa" class="field col-12 mt-4">
                        <p-table [value]="usuarioSelecionadoList" [tableStyle]="{ 'min-width': '100%' }">
                          <ng-template pTemplate="header">
                            <tr>
                              <th style="width:40%">Nome</th>
                              <th style="width:35%">Valor</th>
                              <th style="width:10%" class="text-center">Pago</th>
                              <th style="width:15%" class="text-center" *ngIf="(despesaTemp.id == null) ||  (despesaTemp.id && despesaTemp.existeParcela == false)">Ações</th>
                            </tr>
                          </ng-template>

                          <ng-template pTemplate="body" let-usuario>
                            <tr id="usuarioSelecionadoItem{{usuario.id}}">
                              <td>{{ usuario.nome }}</td>

                              <td>
                                <p-inputNumber id="valorDivididoUsuario{{usuario.id}}"
                                               mode="currency"
                                               currency="BRL"
                                               locale="pt-BR"
                                               class=""
                                               [(ngModel)]="usuario.valorDividido"
                                               (onInput)="atualizarTotal()"
                                               [disabled]="despesaTemp.id != null && despesaTemp.existeParcela == true">
                                </p-inputNumber>
                              </td>

                              <td class="text-center">
                                <p-checkbox
                                  id="statusPagamentoUsuario{{usuario.id}}"
                                  [binary]="true"
                                  [(ngModel)]="usuario.statusPagamento">
                                </p-checkbox>
                              </td>

                              <td class="text-center" *ngIf="(despesaTemp.id == null) ||  (despesaTemp.id && despesaTemp.existeParcela == false)">
                              <span id="botaoExcluirUsuario{{usuario.id}}"
                                    pTooltip="{{ 'label.excluir' | translate }}"
                                    tooltipPosition="right"
                                    (click)="excluirDivisao(usuario)"
                                    *ngIf="(despesaTemp.id && despesaTemp.existeParcela == false && !usuario.logado) || despesaTemp.id == null && !usuario.logado">
                                <i class="pi pi-trash" style="font-size: 1rem; color:red"></i>
                              </span>
                              </td>
                            </tr>
                          </ng-template>

                          <ng-template pTemplate="footer" *ngIf="(despesaTemp.id == null) ||  (despesaTemp.id && despesaTemp.existeParcela == false)">
                            <tr>
                              <td colspan="2" class="text-left">
                                <p-checkbox
                                  id="isDividirIgualmente"
                                  class="ml-2"
                                  label="Desejo dividir igualmente o valor."
                                  [binary]="true"
                                  [(ngModel)]="isDividirIgualmente"
                                  (onChange)="dividirIgualmente()">
                                </p-checkbox>
                              </td>
                              <td colspan="2" class="text-right">
                                <p-button
                                  icon="fa fa-eraser"
                                  pTooltip="Zerar Valores"
                                  tooltipPosition="left"
                                  [loading]="loading"
                                  (onClick)="resetDivisao()"/>
                              </td>
                            </tr>
                            <tr *ngIf="isValid(msgErroDivisaoDespesas)">
                              <td colspan="4" class="text-left">
                                <small class="p-error">
                                  {{ msgErroDivisaoDespesas }}
                                </small>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                    </div>
                  </div>


                  <div class="field col-12 mt-4" *ngIf="!isDividirDespesa">
                    <label class="font-semibold">Esta despesa foi paga?</label>
                    <div class="formgroup-inline">
                      <div *ngFor="let status of statusPagamentoList" class="field-radiobutton">
                        <p-radioButton id="{{status.key}}" name="status" [value]="status" [(ngModel)]="statusPagamentoSelecionado"></p-radioButton>
                        <label [for]="status.key" class="ml-2">{{ status.value }}</label>
                      </div>
                    </div>
                  </div>
              </ng-template>

              <ng-template pTemplate="footer">
                <div class="grid">
                  <div class="field col-12">
                    <button pButton label="Cancelar" icon="pi pi-times" class="p-button-danger pt-2" (click)="fecharModal()"></button> &nbsp;
                    <button pButton label="Salvar" icon="pi pi-check" class="p-button-info pt-2" (click)="salvarDespesa()"></button>
                  </div>
                </div>
              </ng-template>
            </p-dialog>
            <p-confirmDialog />
          </div>

        </nb-card-body>
      </nb-card>
    </div>
  </nb-layout-column>

  <nb-layout-footer>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>
