<nb-layout>
  <nb-layout-header>
    <app-header></app-header>
  </nb-layout-header>

  <nb-sidebar start>
    <app-menu></app-menu>
  </nb-sidebar>

  <nb-layout-column class="p-2">
    <div id="breadcrumb" class="pb-2">
      <p-breadcrumb [model]="breadcrumbItens"></p-breadcrumb>
    </div>

    <div id="conteudo">
      <nb-card>
        <nb-card-body>
          <div id="acoes" class="pt-2 ">
            <p-toolbar styleClass="h-5rem">
              <ng-template pTemplate="left">
                <p-button id="cadastrar"
                          class="mr-4"
                          label="{{ 'label.cadastrar' | translate }}"
                          pTooltip="{{ 'label.cadastrar' | translate }} {{ 'label.receita.lbReceita' | translate }}"
                          tooltipPosition="bottom"
                          icon="pi pi-plus"
                          size="small"
                          severity="info"
                          [raised]="true"
                          (click)="abrirModalReceita(null)">
                </p-button>

                <p-button id="excluir"
                          label="{{ 'label.excluir' | translate }}"
                          pTooltip="{{ 'label.excluirVarios' | translate }} {{ 'label.receita.lbReceitas' | translate }}"
                          tooltipPosition="bottom"
                          icon="pi pi-trash"
                          size="small"
                          severity="danger"
                          [raised]="true"
                          [disabled]="!receitasSelecionadasList || !receitasSelecionadasList.length"
                          (click)="excluirSelecionados()">
                </p-button>
              </ng-template>
            </p-toolbar>
          </div>

          <div id="container" class="mt-3">
            <!-- Checkbox para exibir outras competências -->
            <div class="field col-12">
              <p-checkbox
                id="exibirOutrasCompetencias"
                [binary]="true"
                [(ngModel)]="exibirOutrasCompetencias"
                (onChange)="setExibirOutrasCompetencias()"
                label="Exibir outras competências.">
              </p-checkbox>
            </div>

            <!-- Dropdown para selecionar a competência -->
            <div class="field col-12" *ngIf="exibirOutrasCompetencias">
              <p-dropdown
                id="competenciaPesquisa"
                [options]="competenciasList"
                [(ngModel)]="competenciaSelecionadaParaPesquisa"
                [filter]="true"
                [showClear]="true"
                filterBy="value"
                optionLabel="value"
                placeholder="Selecione a Competência"
                class="w-full"
                (onChange)="onCompetenciaChange()">  <!-- Chama a função quando o usuário altera a seleção -->

                <ng-template pTemplate="selectedItem">
                  <div class="flex align-items-center gap-2" *ngIf="competenciaSelecionadaParaPesquisa">
                    <div>{{ competenciaSelecionadaParaPesquisa.value }}</div>
                  </div>
                </ng-template>
                <ng-template let-competencia pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ competencia.value }}</div>
                  </div>
                </ng-template>

              </p-dropdown>
            </div>

            <div id="tabela">
              <p-table
                [value]="receitasList"
                [paginator]="true"
                [rows]="100"
                [tableStyle]="{ 'min-width': '75rem' }"
                [(selection)]="receitasSelecionadasList"
                [rowHover]="true"
                [showCurrentPageReport]="true"
                [sortField]="'instituicaoFinanceira.nome'"
                [sortOrder]="1"
                [globalFilterFields]="['competencia', 'nome', 'categoriaRegistroFinanceiro', 'valor']"
                [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
                [loading]="loading"
                #dt
                dataKey="id"
                currentPageReportTemplate="{{ 'label.exibindoRegistrosTabela' | translate }}"
              >
                <!--[scrollable]="true" scrollHeight="370px"-->

                <ng-template pTemplate="caption">
                  <div class="flex align-items-center justify-content-between h-2rem">
                    <h5 class="m-0">Gerenciar Receitas</h5>
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="aplicarFiltroPadrao($event)" placeholder="{{ 'label.pesquisar' | translate }}" />
                    </span>
                  </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th style="width: 3rem"> <p-tableHeaderCheckbox /></th>
                    <th pSortableColumn="competencia" class="text-left">Competência<p-sortIcon field="competencia"></p-sortIcon></th>
                    <th pSortableColumn="nome" class="text-left">Nome<p-sortIcon field="nome"></p-sortIcon></th>
                    <th pSortableColumn="categoriaRegistroFinanceiro" class="text-left">Categoria <p-sortIcon field="categoriaRegistroFinanceiro"></p-sortIcon></th>
                    <th pSortableColumn="valor" class="text-right">Valor <p-sortIcon field="valor"></p-sortIcon></th>
                    <th class="text-center"  style="width:10%">Ações</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-registro let-columns="columns">
                  <tr>
                    <td><p-tableCheckbox [value]="registro" /></td>

                    <td class="text-left">{{registro.competencia}}</td>

                    <td class="text-left">{{registro.nome }}</td>

                    <td class="text-left">
                      {{ EnumService.getLabelEnum(registro.categoriaRegistroFinanceiro, EnumService.getCategoriaRegistroFinanceiro()) }}
                    </td>

                    <td class="text-right">{{registro.valor | currency }}</td>

                    <td class="text-center">
                    <span id="botaoEditar" pTooltip="{{ 'label.editar' | translate }}" tooltipPosition="left" placeholder="right">
                      <i class="pi pi-pencil mr-3" style="font-size: 1rem; color:green" (click)="abrirModalReceita(registro);"></i>
                    </span>

                      <span id="botaoExcluir" pTooltip="{{ 'label.excluir' | translate }}" tooltipPosition="right" placeholder="Right">
                      <i class="pi pi-trash"  style="font-size: 1rem; color:red" (click)="excluir(registro);"></i>
                    </span>
                    </td>

                    <ng-template #hifenSpan><span>-</span></ng-template>
                  </tr>
                </ng-template>

                <ng-template pTemplate="footer">
                </ng-template>
              </p-table>
            </div>

            <p-dialog [(visible)]="exibirDialogCadastroReceita" header="{{prefixoModal}}" [modal]="true" [style]="{width: '50%'}" styleClass="p-fluid" >

              <ng-template pTemplate="content">

                <div class="grid">

                  <div class="field col-12">
                    <label for="categoria" class="font-semibold">Competência</label>
                    <p-dropdown
                      id="competencia"
                      [options]="competenciasList"
                      [(ngModel)]="competenciaSelecionada"
                      [filter]="true"
                      [showClear]="true"
                      filterBy="value"
                      optionLabel="value"
                      placeholder="Selecione a Competência"
                      class="w-full">

                      <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="competenciaSelecionada">
                          <div>{{ competenciaSelecionada.value }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-competencia pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ competencia.value }}</div>
                        </div>
                      </ng-template>

                    </p-dropdown>

                    <small class="p-error" *ngIf="isSubmetido && !categoriaRegistroFinanceiroSelecionado">Categoria é obrigatório.</small>
                  </div>

                  <div class="field col-12">
                    <label for="nome" class="font-semibold">Nome</label>

                    <input id="nome"
                           class="w-full"
                           type="text"
                           pInputText [(ngModel)]="receitaTemp.nome">

                    <small class="p-error" *ngIf="isSubmetido && !receitaTemp.nome">
                      {{ 'message.campoObrigatorio' | translate }}
                    </small>
                  </div>

                  <div class="field col-12">
                    <label for="descricao" class="font-semibold">Descrição</label>

                    <input id="descricao"
                           class="w-full"
                           type="text"
                           pInputText [(ngModel)]="receitaTemp.descricao">

                    <small class="p-error" *ngIf="isSubmetido && !receitaTemp.descricao">
                      {{ 'message.campoObrigatorio' | translate }}
                    </small>
                  </div>

                  <div class="field col-12">
                    <label for="categoria" class="font-semibold">Categoria</label>
                    <p-dropdown
                      id="categoria"
                      [options]="categoriaRegistroFinanceiroList"
                      [(ngModel)]="categoriaRegistroFinanceiroSelecionado"
                      [filter]="true"
                      [showClear]="true"
                      filterBy="value"
                      optionLabel="value"
                      placeholder="Selecione a Categoria"
                      class="w-full">

                      <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="categoriaRegistroFinanceiroSelecionado">
                          <i class="fa {{ categoriaRegistroFinanceiroSelecionado.icon }}"></i>
                          <div>{{ categoriaRegistroFinanceiroSelecionado.value }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-categoriaRegistroFinanceiroSelecionado pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <i class="fa {{ categoriaRegistroFinanceiroSelecionado.icon }}"></i>
                          <div>{{ categoriaRegistroFinanceiroSelecionado.value }}</div>
                        </div>
                      </ng-template>

                    </p-dropdown>
                    <small class="p-error" *ngIf="isSubmetido && !categoriaRegistroFinanceiroSelecionado">Categoria é obrigatório.</small>
                  </div>

                  <div class="field col-12">
                    <label for="instituicaoFinanceiraUsuario" class="font-semibold">Instituição Financeira</label>
                    <p-listbox
                      id="instituicaoFinanceiraUsuario"
                      optionLabel="instituicaoFinanceira.nome"
                      optionDisabled="disabled"
                      [options]="instituicoesFinanceirasUsuarioList"
                      [(ngModel)]="instituicaoFinanceiraUsuarioSelecionada">
                      <ng-template let-instituicao pTemplate="instituicaoFinanceiraUsuario">
                        <div class="" *ngIf="instituicao.instituicaoFinanceira.tipoInstituicao == 'BANCO'">
                          <i class="fa fa-university mr-2" aria-hidden="true"></i>
                          {{ instituicao.instituicaoFinanceira.nome }}
                        </div>

                        <div class="" *ngIf="instituicao.instituicaoFinanceira.tipoInstituicao == 'CORRETORA'">
                          <i class="fa fa-btc mr-3" aria-hidden="true"></i>
                          {{ instituicao.instituicaoFinanceira.nome }}
                        </div>

                      </ng-template>
                    </p-listbox>
                    <small class="p-error" *ngIf="isSubmetido && !instituicaoFinanceiraUsuarioSelecionada">{{ 'message.campoObrigatorio' | translate }}</small>
                  </div>

                  <div class="field col-12">
                    <label for="valor" class="font-semibold">Valor</label>
                    <p-inputNumber
                      id="valor"
                      class="w-full"
                      mode="currency"
                      currency="BRL"
                      locale="pt-BR"
                      [(ngModel)]="receitaTemp.valor">
                    </p-inputNumber>

                    <small class="p-error" *ngIf="isSubmetido && !receitaTemp.valor">
                      {{ 'message.campoObrigatorio' | translate }}
                    </small>

                    <small class="p-error" *ngIf="isSubmetido && receitaTemp.valor && receitaTemp.valor <= 0">
                      {{ 'message.campoDeveSerMaiorQueZero' | translate }}
                    </small>
                  </div>

                </div>
              </ng-template>

              <ng-template pTemplate="footer">
                <div class="grid">
                  <div class="field col-12">
                    <button pButton label="Cancelar" icon="pi pi-times" class="p-button-danger pt-2" (click)="fecharModal()"></button> &nbsp;
                    <button pButton label="Salvar" icon="pi pi-check" class="p-button-info pt-2" (click)="salvarReceita()"></button>
                  </div>
                </div>
              </ng-template>
            </p-dialog>

            <p-confirmDialog />

            <!--<div id="dialogPesquisaInicial">
              <p-dialog [(visible)]="exibirDialogPesquisa" [style]="{ width: '450px' }" header="Gerenciar Receitas" [modal]="true" styleClass="p-fluid">

                <ng-template pTemplate="content" class="p-fluid">
                  <p class="mb-4 text-danger font-bold"> Selecione os parâmetros para visualizar os registros conforme sua preferência para facilitar a pesquisa.</p>

                  <div id="campoTipoRegistroFinanceiro">
                    <label for="tipo" class="ml-2">Tipo Registro Financeiro</label>
                    <p-selectButton
                        id="tipo"
                        optionLabel="icon"
                        [options]="tipoRegistroFinanceiroOptions"
                        [(ngModel)]="tipoRegistroFinanceiroSelecionadoPesquisa"  >
                      <ng-template let-item pTemplate>
                            {{item.value}}
                      </ng-template>
                    </p-selectButton>
                  </div>

                  <div id="campoIsPago" class="mt-3">
                    <label for="isPago" class="ml-2">Registro foi pago?</label>
                    <p-selectButton id="isPago" class="" [options]="EnumService.getStatusSimNao()" [(ngModel)]="isPagoPesquisa" optionLabel="icon">
                      <ng-template let-item pTemplate>
                        <div class="font-bold pr-3 pl-3">
                          {{item.value}}
                        </div>
                      </ng-template>
                    </p-selectButton>
                  </div>

                </ng-template>

                <ng-template pTemplate="footer">
                  <button pButton label="{{ 'label.cancelar' | translate }}" icon="pi pi-times" class="p-button-text" (click)="fecharModalPesquisa()"></button>
                  <button pButton label="{{ 'label.pesquisar' | translate }}" icon="pi pi-check" class="p-button-text" (click)="pesquisar()"></button>
                </ng-template>
              </p-dialog>
            </div> -->
          </div>

        </nb-card-body>
      </nb-card>
    </div>
  </nb-layout-column>

  <nb-layout-footer>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>
